<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="../static/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Pacifico&family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}"> -->

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- 
    <script src="{{url_for('static', filename='sscript.js') }}"></script> -->

    
</head>
<body>
  
    <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="mrng-60-top">Where is my book?</h1>
        </div>
      </div>
      <div class="container">   
      <div class="row row-btn">
        <div class="col-md-3 col-sm-3 col-xs-6 three"> <a href="rent" class="btn btn-sm animated-button thar-three rent" >대여</a> </div>
        <div class="col-md-3 col-sm-3 col-xs-6 four"> <a href="buy" class="btn btn-sm animated-button thar-three buy">구매</a> </div>
      </div>
    </div>

    <footer>
      <div >
        BF
      </div>
    </footer>
</body>
</html>